/*fonts*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff") format("woff");
}

/*general styles*/
.body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}