/*fonts*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin_cyrillic-ext-regular.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff2") format("woff2"),
       url("../fonts/pt-sans-v11-latin_cyrillic-ext-700.woff") format("woff");
}

/*general styles*/
.body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}
.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*header*/
.site-header {
	padding: 25px 0;
	background-color: #191919;
	color: #ffffff;
}
.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: block;
}
.working-text {
	margin: 0;
	padding: 8px 0;
	text-align: center;
}
.working-text:first-child {
	font-weight: 700;
}
.header-right {
	display: flex;
}
.tel-wrapper {
	display: flex;
	flex-direction: column;
	margin-right: 28px;
}
.header-tel {
	font-size: 18px;
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
}
.header-order {
	padding: 21px 28px;
	font-size: 12px;
	font-weight: 700;
	color: #ffffff;
	background-color: #1669b3;
	text-decoration: none;
  text-transform: uppercase;
}
	.header-order:hover {
	  background-image: -moz-linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
	  background-image: -webkit-linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
	  background-image: -ms-linear-gradient( 125deg, rgb(39,53,136) 0%, rgb(28,98,172) 100%);
	}

/*hero*/
.hero {
	width: 100%;
	background-image: url("../img/belaz-bg.jpg");
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}
.parts {
	display: flex;
	flex-direction: column;
	width: 570px;
	padding: 93px;
	background-color: #f7b516;
}
.parts-heading {
	margin: 0;
	font-size: 45px;
	line-height: 55px;
}
.parts-text {
	font-size: 25px;
	font-weight: 700;
}
.parts-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.parts-item {
	display: flex;
	align-items: center;
	margin-bottom: 44px;
	font-weight: 700;
}
.parts-item::before {
	flex-shrink: 0;
	content: "";
	width: 31px;
	height: 31px;	
	margin-right: 22px;	
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.parts-item:last-child {
	margin: 0;
}
.piggy::before {
	background-image: url("../img/piggy-bank.svg");
}
.car::before {
	background-image: url("../img/car.svg");
}
.calendar::before {
	background-image: url("../img/calendar-with-star-symbol.svg");
}
.medal::before {
	background-image: url("../img/medal.svg");
}

/*call-back*/
.call-back {
	padding: 100px 0;	
}
.call-back-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.call-back-form {
	/*align-self: flex-end;*/
}
.call-back-heading {
	width: 440px;
	font-size: 30px;
	text-align: right;
}
.form-inputs {
	display: flex;
}
.input-wrapper {
	width: 370px;
	background-color: #f2f2f2;
}